@using NewsSystem.Models.ViewModels.Articles
@using Microsoft.Ajax.Utilities;

@model ArticleDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Article Title: @Model.Title (@Model.Category)</h1>
<h3>Article by @Model.Author</h3>
<hr />
<h3>Content</h3>
<p>
    @Model.Content
</p>

@Ajax.ActionLink("Like", "Like", "Articles", new { id = Model.Id },
    new AjaxOptions
    {
        UpdateTargetId = "likes",
        InsertionMode = InsertionMode.Replace
        //HttpMethod = "GET"
    },
    new { @class = "btn btn-primary" })

<div>
    Likes: <span id="likes">@Model.Likes</span>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}